.favorite-section {
  height: 120vh;
  width: 100%;
}

.favorite-btn {
  background-color: #5f6e1e;
}

.favorite-btn:hover {
  background-color: #515e19;
}

.favorite-swiper-slide {
  filter: grayscale(1);
  opacity: 0.5;
  scale: 0.8;
}

.favorite-swiper-slide:hover {
  filter: grayscale(0);
  opacity: 1;
}
